# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/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
